<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
            background-image: url('https://images.newscientist.com/wp-content/uploads/2024/08/06140721/SEI_215482684.jpg');
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            font: bolder;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1 {
        color: rgb(245, 242, 245);
        text-shadow: 5%;
        text-decoration: double;
        text-decoration-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    p {
        color: rgb(245, 242, 245);
        text-shadow: 5%;
        text-decoration: double;
        text-decoration-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets App</title>
  </head>

  <body>
    <h1>Welcome to the Planet app!</h1>
    <p>An app for researching your favorite planets.</p>
    

    <a href="/planets">The Solar System</a>
    <a href="/planets/new">Create New Planet</a>


  </body>
  
</html>