<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
            background-image: url('https://www.columbiatribune.com/gcdn/authoring/2017/12/26/NCDT/ghows-MO-61432c45-9d91-215d-e053-0100007f2b02-23818ed5.jpeg?crop=4187,2365,x0,y0&width=3200&height=1808&format=pjpg&auto=webp');
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            font: bolder;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1 {
            color: whitesmoke;
            
        }
        label {
            color: #f5deb3;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        </style>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Planet</title>
  </head>
  <body>
    
    <h1>Edit <%= planet.name %></h1>
    <form action="/planets/<%=planet._id%>?_method=PUT" method="POST">

      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= planet.name %>" />
  
      <label for="hasWater">Does it have water?</label>
      <input type="checkbox" name="hasWater" <% if (planet.hasWater) { %>checked<% } %> />

     <label for="size">How large is your planet?:</label>
     <input type="text" name="size" id="size">


    
      <button type="submit">Update <%= planet.name %></button>
    </form>
    <a href="/planets">Back to Solar System</a>
  </body>
</html>